.sub-title {
  background-color: #fafafa;
  margin-bottom: 24px;
  padding: 0 14.5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;

  @include xs {
    margin-bottom: 12px;
  }

  &__title {
    @include text-size(1rem, 30px, 700, sport-bold);
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    padding-right: 12px;
    display: flex;
    align-items: center;
    min-height: 50px;

    &::before {
      content: "";
      height: 23px;
      width: 8px;
      background-color: #168044;
      position: absolute;
      right: 0;
      border-radius: 20px;
    }
  }
}
