:root {
  --primary: #045025;
  --offWhite: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
  --orange: #e1762a;
  --nav: #ffffff;
  --nav-active: #e1762a;
  --gray: #353535;
  --dark-orange: #d06518;
  --text-dark-gray: #353535;
  --light-gray: #686868;
  --text-white: #ffffff;
  --text-gray: #686868;
  --text-orange: #d06518;
  --text-black: #000000;
  --text-green: #045025;
  --title-white: #ffffff;
  --title-black: #000000;
  --off-white: #d1d1d1;
  --border-color: #d9d9d9;
  --border-active: #e1762a;
  --dark-bg: #000000;
  --title-light: #ffffff;
  --icon-white: #ffffff;
  --slider-bg: #e1762a;
  --icons-light: #ffffff;
  --title-bg: #d06518;
  --slider-bullet: #b6b6b6;
  --light-box: #fafafa;
}

@mixin text-size($size, $line-height, $weight: null, $family: null) {
  font-size: $size;
  line-height: $line-height;
  font-family: $family;

  @if $weight != null {
    font-weight: $weight;
  }
}

// Global Fonts
@font-face {
  font-family: sport-regular;
  src: url(../../fonts/global/Watan-Regular.ttf);
}

@font-face {
  font-family: sport-bold;
  src: url(../../fonts/global/Watan-Bold.ttf);
}

@font-face {
  font-family: sport-extra-bold;
  src: url(../../fonts/global/Watan-Extra-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
  scrollbar-width: thin;
  scrollbar-color: var(--orange) var(--black);

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ===== Chrome / Edge / Safari ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--orange);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-orange);
}

@media print {
  .customize-support .header {
    top: 0;
  }
}

body {
  font-family: sport-regular, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  @include xs {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  @include sm {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  @include lg {
    max-width: 1140px;
  }

  @include xl {
    max-width: 1140px;
  }
}

.text-4xl,
.text-3xl {
  @apply max-md:text-2xl max-md:font-bold;
}

.text-2xl {
  @apply max-md:text-xl max-md:font-bold;
}

.p-0 {
  padding: 0;
}

.text-xl {
  font-size: 1.375rem;
  line-height: 30px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 30px;
}

.text-sm-1xl {
  font-size: 0.625rem;
  line-height: 30px;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 30px;
}

.text-base {
  font-size: 1rem;
  line-height: 30px;
}
