.bt-md {
  padding: 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  min-width: 75px;
  width: 75px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--gray {
    background-color: var(--gray);
    color: var(--white);
  }

  &--white {
    background-color: var(--white);
    color: var(--gray);
  }
}

.special-button {
  padding: 6px 12px;
  min-width: 101px;

  &--gray {
    background-color: var(--gray);
    color: var(--white);
  }

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.load-button {
  border: 1px solid var(--orange);
  color: var(--text-orange);
  margin: 0 auto;
  display: block;
  min-width: 180px;
  min-height: 40px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;

  &:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: transparent;
  }
}


.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  @include border-card;
  min-width: 163px;
  padding: 8px 0;
  max-height: 55px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  
  @include text-size(1rem, 1.875rem, 400, sport-regular);
  
  @include xs {
    min-width: 140px;
    padding: 4px 0;
    max-height: 40px;
  }
  
  @include sm {
    min-width: 140px;
    padding: 4px 0;
    max-height: 40px;
  }

  &:hover {
    background-color: var(--orange);
    color: var(--text-white);
  }

  img {
    flex-shrink: 0;
  
    @include xs {
      width: 30px;
    }
    
    @include sm {
      width: 30px;
    }
  }
}