.bt-md {
  padding: 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  min-width: 75px;
  width: 75px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--gray {
    background-color: var(--gray);
    color: var(--white);
  }

  &--white {
    background-color: var(--white);
    color: var(--gray);
  }
}

.special-button {
  padding: 6px 12px;
  min-width: 101px;

  &--gray {
    background-color: var(--gray);
    color: var(--white);
  }

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
