form {
  display: block;
}

input {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:hover {
    outline: none;
  }

  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}

label,
input {
  display: block;
}
