.keywords {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
    li {
        padding: 12px;
        border: 1px solid var(--dark-orange);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        flex-shrink: 0;
        
        @include xs {
            padding: 6px;
        }
        
        @include sm {
            padding: 6px;
        }
    }
    
    a {
        @include text-size(1.125rem, 1.75rem, 700, sport-bold);
        color: var(--text-green);
        
        @include xs {
            font-size: 1rem;
        }
        
        @include sm {
            font-size: 1rem;
        }
    }
}