.writer-box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 36px;
  min-height: 185px;
  max-height: 185px;
  margin-bottom: 24px;
  
  @include border-card;
  
  @include xs {
    padding: 12px 12px;
  }
  
  @include sm {
    padding: 12px 12px;
  }

  &__image {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }

  &__name {
    margin-bottom: 24px;
    @include text-size(1.375rem, 2rem, 700, sport-bold);
    margin-bottom: 12px;
    color: var(--text-dark-gray);
    padding-left: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__bio {
    @include text-size(1rem, 2rem, 400, sport-regular);
    color: var(--text-gray);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
