.writer-info {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
  padding: 18px 28.5px;

  @include border-card;

  @include xs {
    padding: 12px 12px;
  }
  
  @include sm {
    padding: 12px 12px;
  }

  &__image {
    flex-shrink: 0;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    @include xs {
      width: 100px;
      height: 100px;
    }
    
    @include sm {
      width: 100px;
      height: 100px;
    }
  }

  &__name {
    margin-bottom: 12px;
    @include text-size(1.125rem, 2rem, 700, sport-bold);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__job {
    margin-bottom: 12px;
    @include text-size(1.125rem, 2rem, 700, sport-bold);
    color: var(--text-orange);
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__articles {
    @include text-size(1.125rem, 2rem, 700, sport-bold);
    color: var(--text-orange);
  }

  &__articles-count {
    margin-bottom: 12px;
    @include text-size(1.5rem, 2rem, 700, sport-bold);
    color: var(--text-black);
    margin-right: 12px;
  }
}
