// @include border-card;
.status-section {
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 24px;
    
    @include xs {
        padding: 12px;
    }
    
    @include sm {
        padding: 12px;
    }
}