.side-banner {
  margin: auto auto 24px auto;

  @include xs {
    display: none;
    // display: flex;
    justify-content: center;
    margin: 24px auto 24px auto;
  }

  @include sm {
    display: none;
    // display: flex;
    justify-content: center;
    margin: 24px auto 24px auto;
  }

  @include md {
    display: none;
    // display: flex;
    justify-content: center;
    margin: 24px auto 24px auto;
  }
}
