.footer {
  background-color: var(--black);
  padding-top: 18.5px;

  @include xs {
    padding-top: 12px;
  }
}

.footer-logo {
  margin-bottom: 24px;
  display: block;

  @include xs {
    margin-bottom: 12px;
  }

  @include sm {
    margin-bottom: 12px;
  }

  @include md {
    margin-bottom: 12px;
  }

  img {
    margin: 0 auto;

    @include xs {
      max-width: 150px;
    }

    @include sm {
      max-width: 200px;
    }

    @include md {
      max-width: 200px;
    }
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 1rem;
  margin-bottom: 18.5px;
  color: var(--white);

  @include xs {
    gap: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 12px;
  }

  @include sm {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  @include md {
    gap: 12px;
  }

  a {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

    &:hover {
      color: var(--orange);
    }
  }
}

.footer-related {
  border-top: 1px solid var(--light-gray);
  padding: 24px 0;

  @include xs {
    padding: 6px 0;
  }

  @include sm {
    padding: 12px 0;
  }

  @include md {
    padding: 12px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xs {
      flex-direction: column;
    }

    @include sm {
      flex-direction: column;
    }

    @include md {
      flex-direction: column;
    }
  }
}

.footer-related-links {
  a {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

    &:hover {
      color: var(--orange);
    }
  }
}

.footer-related-links,
.footer-copyright,
.footer-development {
  font-size: 0.8125rem;
  color: var(--white);
  display: flex;
  gap: 12px;

  @include xs {
    font-size: 0.625rem;
  }
}
